#div_table_players{
    margin-left: 2em;
    margin-right: 2em;
}
#div_table_players>div{
    
    overflow-x: auto;
}
.teste{
    transition: all 0.2s ease 0s;

}
.teste:hover{
    background-color: rgb(93, 53, 187) !important;
    
}

.tr_table{
    transition: all 0.2s ease 0s;

}
.tr_table:hover{
    background-color: white !important;
    

}